{% extends "::layout.html.twig" %}

{% block body %}
    <div class="col-md-4 col-md-push-2 billet order animate-box" data-animate-effect="fadeInRight">
        <div class="col-md-12" style="text-align: center">
            <h2>CETTE PAGE <br>N'EXISTE PAS</h2>
            <h3>ENFIN CELLE-CI OUI</h3>
            <h4>MAIS PAS CELLE QUE VOUS</h4>
            <h5>VOUS ATTENDIEZ A TROUVER ICI</h5>
            
        </div>
    
    </div>

{%  endblock %}
