{% extends "::layout.html.twig" %}

{% block body %}
    </div>
        
        <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
        <div class="form-wrap">
            <div class="tab">
                
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Récapitulatif de votre commande </h3>
                        
    
                    
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
    
    </div>
    </div>
    </div>
    </header>
{%  endblock %}